# Ignore all .desktop files in chromium_script/ directory
chromium_scripts/*.desktop
chromium_scripts/Backup Files

# Ignore any file that starts with 'test'
test*
temp*

# Fixed files to ignore
.zshrc_backup
neofetch_images/history.json
neofetch_images/done.json
neofetch_images/.history.json
neofetch_images/.done.json